@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}
main{
    background-color: #f5f5f5;
    overflow: hidden;
    margin-top: 120px;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #c4c4c4;
}

#slide{
    width: 100%;
    margin-top: 50px;
}

.slider-item{
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #c4c4c4;
}
.slider-item:nth-child(1){
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.slider-item:nth-child(2){
    left:50%;
}

.slider-item:nth-child(3){
    left:calc(50% + 220px);
}

.slider-item:nth-child(4){
    left:calc(50% + 440px);
}

.slider-item:nth-child(n+5){
    left:calc(50% + 660px);
    opacity: 0;
}

.slider-item .slider-content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #f5f5f5;
    transform: translate(0, -50%);
    display: none;
    font-family: "Bebas Neue", sans-serif;
}

.slider-item:nth-child(1) .slider-content{
    display: block;
    z-index: 11111;
}

.slider-item .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 0.6s ease-in-out 1 forwards;
}

.slider-item .des{
    font-size: 28px;
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.slider-item button{
    margin: 10px 20px;
    border: none;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}
.buttons{
    position: absolute;
    bottom: 30px;
    z-index: 22222;
    text-align: center;
    width:100%;
}

.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #181818;
    transition: 0.5s;
}

.buttons button:hover{
    background-color: #593E2E;
}
