@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}
main{
    background-color: #f5f5f5;
    overflow: hidden;
    margin-top: 240px;
}


/*Contato*/

body{
background: linear-graient( 90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
}

.contato{
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contato .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contato .title h2{
  color: #fff;
  font-weight: 500;
}

















